@import "imports/settings";
@import "foundation";
//@import "imports/styles";
@import "imports/ui";

.global-nav{
	position: fixed;
	bottom: 20px;
	right: 20px;
	.uiowa img{
		width: 170px;
		@media #{$xlarge-up}{

		}
	}
}

.arrow{
	position: fixed;
	bottom: 0;
	right: 50%;
	left: 50%;
}


.HomePage{
	section{
		&.first{
			.content-container{
				.logo-container{
					@media #{$large-up}{
						margin-top: 20px;
					}
				}
			}
		}		
		min-height: 1300px;
		background-size: cover;
		@media #{$large-up}{
			background-attachment: fixed;
		}

		background-position: 50% 50%;
		.content-container{

			background-color: rgba(255,255,255,0.92);
			padding: 5px 0;
			border-top: 1px solid #666;
			border-bottom: 1px solid #666;
			text-align: center;
			padding-bottom: 10px;
			@media #{$large-up}{
				padding: 10px 0;
				text-align: left;
				padding-bottom: 0;
			}

			.location-text p{
				font-size: rem-calc(18);
			}

			.button-group{
				margin-top: 20px;
				.button.small{
					font-size: rem-calc(13);
					@media #{$xlarge-up}{
						font-size: rem-calc(16);
					}

				}
			}

			.mobile-buttons{
				text-align: center;
			}

			.logo-container{
				text-align: center;
				@media #{$large-up}{
					margin-top: 45px;
					background-repeat: no-repeat;
					background-position: 90% 0;
					background-size: contain;
				}

				img.logo{
					height: 95px;

					@media #{$large-up}{
						display: block;
						height: auto;
						float: right;
					}
				}
			}
			.sponsors{
				text-align: right;
				font-size: rem-calc(17);
				a{
					display: inline-block;
					&:after{
						content: ' - '
					}
				}				
			}

		}
	}
}
